In [19]:
import pickle
import pandas as pd

In [20]:
model = pickle.load(open("clustering_kmodes.pkl", 'rb'))

In [21]:
sample_point = [1,2,2541.0,4737.0,6089.0,2946.0,5316.0,120.0]
good_data_point = pd.DataFrame(sample_point).T
good_data_point

     0    1       2       3       4       5       6      7
0  1.0  2.0  2541.0  4737.0  6089.0  2946.0  5316.0  120.0

In [15]:
model.predict(good_data_point)

array([0], dtype=uint16)